.home-container {
  padding: 180px 0 265px 120px;
}
.home-title {
  font-weight: bold;
  height: 130px;
  width: 580px;
  font-size: 48px;
  line-height: 64px;
  display: flex;
  align-items: center;
  letter-spacing: 0.02em;
  color: #062847;
}

.home-text {
  width: 612px;
  height: 216px;
  left: 120px;
  top: 331px;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 40px;
  color: #5a6774;
  margin-top: 25px;
  margin-bottom: 50px;
}
