.btn-icon {
  position: absolute;
  width: 101px;
  height: 40px;
  left: 120px;
  top: 585px;
  border-radius: 4px;
  background: #1890FF;
}

.btn-font {
font-weight: normal;
font-size: 16px;
line-height: 24px;
align-items: center;
}

  